.container {
	// min-width: 320px;
    // max-width: 1200px;
	
	padding: 0 15px;

@media (min-width: $mobile){
	width:480px;
	margin: 0 auto;
}
@media (min-width: $tablet){
	width:768px;
}
@media (min-width: $desktop) {
	width: 1200px;
}
}