.contacts {
	@include list;  
	
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: $tablet){
        display: block;
		
	}
	@media screen and (min-width: $desktop) {
			display: flex;	
   }
}	 

.contacts__link {
	@include link;
	display: inline-block;
	
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	transition: color var(--transition-duration) var(--transition-timing-function), text-shadow var(--transition-duration) var(--transition-timing-function);

	&:hover, &:focus{
    color: var(--accent-color);
	text-shadow: var(--shadow);
   }
	@media screen and (min-width: $desktop){
	display: inline-flex;
	align-items: center;
    justify-content: center;
	padding: 32px 0;
	min-width: 122px;

    font-size: 14px;
	line-height: 1.14;
	}
		
}


.contacts__item:not(:last-child) {
	margin-bottom: 10px;

	@media screen and(min-width: $desktop){
		margin-right: 50px;
		margin-bottom: 0;
	}
}

.contacts__icon {
	margin-right: 8px;
	fill: currentColor;

    @media screen and (min-width: $desktop) {
	margin-right: 10px;
    }
}