.header {
	border-bottom: 1px solid var(--border-color);
}

.header__content {
	min-height: 60px;
	

    @media screen and (min-width: 768px) {
    min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    }
}
.header__nav {
 display: flex;
 align-items: center;
 }

.header__logo {
	display: block;
	padding: 16px 0;
	color: var(--universal-color);

	@media(min-width: $tablet){
		padding: 26px 0;
	}

	@media(min-width: $desktop){
		padding: 24px 0 25px 0;
	}
}

.header__mobile-menu{
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	margin: 0 0 0 auto;
	padding: 10px 0;
	outline: none;
	background-color: transparent;

	@media screen and (min-width: $tablet) {
		display: none;
		}
}